/* Estilos para la galería de imágenes */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery img {
  flex-basis: calc(33.33% - 10px);
  max-width: 100%;
  height: auto;
  margin: 5px;
}

/* Estilos para hacer la página responsive */
@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery img {
    max-width: 80%;
  }
}
/* Estilos para hacer las imágenes subidas responsive */
.uploaded-image {
  /*max-width: 100%;*/
  max-width: 500px;
  height: auto;
  margin-top: 20px;
}